@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body
{
    align-items: center;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    min-height: 100vh;/*You set the page to height: 59em, so the flex container can become much taller than the viewport and center the card below the visible area on shorter screens. 
    Replace it with min-height: 100vh or min-height: 100dvh so the page fills the viewport without forcing unnecessary vertical space.*/
    margin: 0;
}
main
{
    box-sizing: border-box;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: 499px;
    width: 320px;
}
main > div:first-child
{
    align-items: center;
    display: flex;
    height: 320px;
    justify-content: center;
}
main > div:last-child
{
    box-sizing: border-box;
    margin: auto;
    max-width: 288px;
    place-items: center;
    width: 100%;
}
img
{
    border-radius: 10px;
}
div > h1 /*I changed p tag to h1 since I changed the first p element in my index.html*/
{
    color: hsl(218, 44%, 22%);
    font: 700 22px Outfit;
    margin: 0;
    padding: 10px;
    text-align: center;
}
div > p /*I removed :last-child since there is no need to specify the p selector to be designed and also the p selector is being used here is only one*/
{
    box-sizing: border-box;
    color: hsl(216, 15%, 48%);
    font: 400 15px Outfit;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 280px;
}
